<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Com.TechnikEmpire.ApacheOpenNLP" version="1.7.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.4.1" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="1.6.0" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="1.6.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.1" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.1" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="net452" />
</packages>