<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinmac20" />
  <package id="NLog" version="4.5.9" targetFramework="xamarinmac20" />
  <package id="NodaTime" version="2.4.0" targetFramework="xamarinmac20" />
  <package id="TimeZoneConverter" version="2.4.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="xamarinmac20" />
</packages>