<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- ignore-file:..\..\CitadelGUI\bin\Release x86\*.pdb -->
  <!-- ignore-file:..\..\CitadelGUI\bin\Release x86\x64\* -->
  <Module Id="CloudVeilPayload" Language="1033" Version="1.7.0.2" Codepage="1252">
    <Package Id="620CD2DC407F43B9916732C473EF22AC" Description="SetupPayload86" InstallerVersion="300" Languages="1033" Manufacturer="CloudVeil Technologies Inc." Platform="x86" ReadOnly="no" ShortNames="no" />
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <!-- Initialize the 'NEWRETARGETABLEPROPERTY1' directory property. -->
    <CustomAction Id="DIRCA_NEWRETARGETABLEPROPERTY1" Property="NEWRETARGETABLEPROPERTY1" Value="[TARGETDIR]" Execute="firstSequence" />
    <!-- The directory tree of the installation package. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Program Menu">
        <Component Id="com_dirProgramMenuFolder" Guid="10BC5CE4-32BD-4CE8-85A2-6A4264343516" Transitive="no">
          <RemoveFolder Id="_E3E03A75_EC55_4AA7_B6C3_9329504754CE" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="com_dirProgramMenuFolder" Type="string" Value="Program Menu directory" KeyPath="yes" />
          <Shortcut Id="_4A6DB1AA_F22F_F74C_AF30_BC7C9FD28C1A" Name="CloudVeil For Windows" Show="normal" WorkingDirectory="NEWRETARGETABLEPROPERTY1" Target="[NEWRETARGETABLEPROPERTY1]CloudVeil.exe">
            <Icon Id="_BC7C9FD28C1A" SourceFile="..\..\CitadelGUI\appicon.ico" />
          </Shortcut>
        </Component>
      </Directory>
      <Directory Id="NEWRETARGETABLEPROPERTY1" Name="Module Retargetable Folder">
        <Component Id="com_dirNEWRETARGETABLEPROPERTY1" Guid="7FCC187A-2F9F-475E-B4A9-7F69518D88D3" Transitive="yes">
          <RemoveFolder Id="_D19CDDBE_1A6F_429B_BB94_2FD7A2D43D4D" On="uninstall" />
        </Component>
        <Component Id="com_8D44B0FA_BD11_7D45_A5A4_35A256C6C38D" Guid="82EEDA46-1F25-42C2-9643-06FDEC67E9CF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_8D44B0FA_BD11_7D45_A5A4_35A256C6C38D" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="appicon.ico" Source="..\..\CitadelGUI\appicon.ico" KeyPath="yes" />
        </Component>
        <!-- The 'InstallGuard' project output. -->
        <!--<Component Id="comp_491404CD_77E2" Guid="146FEE29-459B-44E2-8AE5-BC1272114933" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B9C72077_61E1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Net.WebSockets.Client.Managed.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Net.WebSockets.Client.Managed.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2D09051E_2D16" Guid="6053BB54-BF74-462E-A47B-E75E4A67575A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C616D885_312A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Net.Http.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Net.Http.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_9C0D5C71_A45A" Guid="C59C2369-D8C7-410F-9E5E-E0AFF60A0284" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_64635A4B_9AB4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Net.WebSockets.Client.Managed.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Net.WebSockets.Client.Managed.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_F4697AA8_AFB1" Guid="3E490ADE-258A-408A-B950-BFFAA7DE0371" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_EFB26F07_B76F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="netstandard.dll" Source="..\..\..\..\Windows\Microsoft.Net\assembly\GAC_MSIL\netstandard\v4.0_2.0.0.0__cc7b13ffcd2ddd51\netstandard.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_BC7C1623_A381" Guid="78F39F57-ECA0-415B-B729-98B81ED978A4" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_EC8AB8A2_5A09" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Buffers.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Buffers.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_3756EDF1_AF46" Guid="F44FCF70-0E7D-4E36-BB01-6244472E960E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E48F3DFE_5597" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.ValueTuple.dll" Source="..\..\..\..\Windows\Microsoft.Net\assembly\GAC_MSIL\System.ValueTuple\v4.0_4.0.0.0__cc7b13ffcd2ddd51\System.ValueTuple.dll" KeyPath="yes" />
        </Component>-->
        <Component Id="comp_EF162366_80D3" Guid="504F8A7B-1C7A-4EE4-8A2C-DB40ED2A6371" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0CB4ACAB_798A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="BouncyCastle.Crypto.dll" Source="..\..\CitadelGUI\bin\Release x86\BouncyCastle.Crypto.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_C14A7C74_B0DE" Guid="4FAD08CF-75C1-4EDD-8E5B-EB61AC0EED12" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_BE2E43F6_1DA6" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.Core.Windows.dll" Source="..\..\CitadelGUI\bin\Release x86\Citadel.Core.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_173D0B9F_2B91" Guid="CAB9910A-71C3-443C-98C6-30E7B50E3FD4" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1610BB99_92A7" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Filter.Platform.Common.dll" Source="..\..\CitadelGUI\bin\Release x86\Filter.Platform.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_BE84D96B_46DC" Guid="7F11C3A7-DD7D-4474-AF08-FC3B5DD6F4C8" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_803B0BC7_19FC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NamedPipeWrapper.dll" Source="..\..\CitadelGUI\bin\Release x86\NamedPipeWrapper.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_AC21C739_CC12" Guid="63E72BAA-C40D-47ED-89F7-DFA0D4E170A5" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5E1F1763_635D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="netstandard.dll" Source="C:\Windows\Microsoft.Net\assembly\GAC_MSIL\netstandard\v4.0_2.0.0.0__cc7b13ffcd2ddd51\netstandard.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E8EA7A86_32A4" Guid="806FBF09-92EB-43C1-A131-BCA3C7BAAF85" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_39BC3670_3B6C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Newtonsoft.Json.dll" Source="..\..\CitadelGUI\bin\Release x86\Newtonsoft.Json.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_08CE5021_700A" Guid="48957704-9550-45C2-9F1B-2B579F797181" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E9C66B8F_FD4F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NLog.dll" Source="..\..\CitadelGUI\bin\Release x86\NLog.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_41A4A9DE_0456" Guid="E6E45B6E-3D09-48C4-AD4D-E9E88B9B6FF4" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_93D7D845_87E2" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.ServiceModel.Syndication.dll" Source="..\..\CitadelGUI\bin\Release x86\System.ServiceModel.Syndication.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E90CE504_C634" Guid="52D957D7-0BF1-4DB9-864A-70CC01EC9FA3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_7295443B_1C47" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.ValueTuple.dll" Source="C:\Windows\Microsoft.Net\assembly\GAC_MSIL\System.ValueTuple\v4.0_4.0.0.0__cc7b13ffcd2ddd51\System.ValueTuple.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_732D7F26_9393" Guid="3BB09023-BB2C-4319-ADF7-D818DAB3ECA2" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D70BAA7F_C522" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.IPC.Common.dll" Source="..\..\CitadelGUI\bin\Release x86\Citadel.IPC.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_8AEFC971_2815" Guid="9A5EAAF3-F746-40A2-B8DA-1CCBBA0BA986" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_64C02E63_B903" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeil.exe" Source="..\..\CitadelGUI\bin\Release x86\CloudVeil.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_FDCC1EA4_BD7C" Guid="0168C7F0-0ED1-45B5-89EF-51423A7DBA7F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_17CAAD18_8F53" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeilGUI.dll" Source="..\..\CitadelGUI\bin\Release x86\CloudVeilGUI.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_EA4BBE59_4E70" Guid="A32092ED-7320-422F-9EE3-27DE169C6536" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_89FD8302_3C5D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ControlzEx.dll" Source="..\..\CitadelGUI\bin\Release x86\ControlzEx.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_CEEDE97A_0E66" Guid="473A727F-46A6-41AF-90BD-D0DC665D848B" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_7D90E0D6_F358" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GalaSoft.MvvmLight.dll" Source="..\..\CitadelGUI\bin\Release x86\GalaSoft.MvvmLight.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_1B93F17C_F2A6" Guid="06E7E91D-DFCA-465A-B03F-7D56B92C7739" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_44185F8B_50F3" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GalaSoft.MvvmLight.Platform.dll" Source="..\..\CitadelGUI\bin\Release x86\GalaSoft.MvvmLight.Platform.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0B352183_6AF9" Guid="E3296839-C6FF-4481-9BE4-65C94B5A6210" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_90F51959_A6B8" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.dll" Source="..\..\CitadelGUI\bin\Release x86\MahApps.Metro.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_69EC694A_4834" Guid="53C416C6-63A3-4789-833F-A71BE4DD5A2D" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_FF684355_FBA5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Sentry.dll" Source="..\..\CitadelGUI\bin\Release x86\Sentry.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_57C769A7_984E" Guid="A29C19D0-2F9B-405D-B97F-1132FB5431BE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B2B45FDD_97C8" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Sentry.PlatformAbstractions.dll" Source="..\..\CitadelGUI\bin\Release x86\Sentry.PlatformAbstractions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0989CA55_278C" Guid="311321E2-AD78-48E3-A2F4-1034B3F9A3F3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D8C5E58B_CB93" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Sentry.Protocol.dll" Source="..\..\CitadelGUI\bin\Release x86\Sentry.Protocol.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A841F7F9_5EAB" Guid="C6CA5880-90F7-42CC-8BF2-A6105205B909" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_BC994C64_1710" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Windows.Interactivity.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Windows.Interactivity.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_5FC1F1CE_541B" Guid="2066E221-1957-4366-AEF6-D5CF4DF5C9D1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5E4CA913_2142" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Core.dll" Source="..\..\CitadelGUI\bin\Release x86\Xamarin.Forms.Core.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_B06AA52C_BF30" Guid="51D66C52-C26B-4A90-A52C-D2B51743EA17" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_417134E1_7381" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Platform.dll" Source="..\..\CitadelGUI\bin\Release x86\Xamarin.Forms.Platform.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E9134B0F_C908" Guid="FBE35DB1-0E33-4BB8-8A37-F6D4F9398C6A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5135965A_5D2F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Xaml.dll" Source="..\..\CitadelGUI\bin\Release x86\Xamarin.Forms.Xaml.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_F553F6C4_978D" Guid="2C2587EB-C07E-484B-89DA-95F4B492FBB4" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B9F53AE0_B8A7" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeil.exe.config" Source="..\..\CitadelGUI\bin\Release x86\CloudVeil.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_569B6CDB_42BD" Guid="4F6E53DA-EF53-493B-976A-38C8414F07B8" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D62AF302_CDF8" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="DistillNET.dll" Source="..\..\CitadelGUI\bin\Release x86\DistillNET.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A15EAB2F_8BC6" Guid="3A7D026A-A96C-478B-9EE4-7358A738AD73" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2B6835D2_FEEF" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Data.Sqlite.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Data.Sqlite.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_341BA2CC_B43F" Guid="34E67FBF-4347-45C4-A46F-67A83C36719A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0FD42643_7021" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.core.dll" Source="..\..\CitadelGUI\bin\Release x86\SQLitePCLRaw.core.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_29ED6F09_AD69" Guid="58BD49B6-5319-441B-8FC6-C1DAE8338344" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0CFCC739_A651" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="DNS.dll" Source="..\..\CitadelGUI\bin\Release x86\DNS.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_670EBB4D_69F7" Guid="E373C342-627F-4851-A259-19222368F8E3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1091E62A_4573" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="e_sqlite3.dll" Source="..\..\CitadelGUI\bin\Release x86\e_sqlite3.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_85321290_734B" Guid="753099C7-92D4-4A7E-8A9D-FE936BAE20E3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5A74B317_0252" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.exe" Source="..\..\CitadelGUI\bin\Release x86\FilterAgent.Windows.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_047D59F2_DF6A" Guid="3E318C43-B34D-4641-BB1A-2BFD0D0C473A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_74896282_273E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.exe.config" Source="..\..\CitadelGUI\bin\Release x86\FilterAgent.Windows.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_25FAB24E_01FD" Guid="35D6CF62-B1E7-40C8-B084-E44050AE0DFB" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_8D8A1D30_0B8F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.pdb" Source="..\..\CitadelGUI\bin\Release x86\FilterAgent.Windows.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_433B0172_53B2" Guid="B4FD4B16-CF61-4D87-BC09-F9070E4B6FFC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_62FBC406_4FF4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterProvider.Common.dll" Source="..\..\CitadelGUI\bin\Release x86\FilterProvider.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_776666C3_01DF" Guid="5CE794B3-BDDB-4115-A927-D94F6EA0559F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_FB1B8B8B_29A2" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GoProxyWrapper.dll" Source="..\..\CitadelGUI\bin\Release x86\GoProxyWrapper.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_4CC0519D_42CD" Guid="705E1D00-718C-4AE6-ACA8-E95678371246" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_74F9D10E_15F5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Buffers.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Buffers.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_4054393F_116C" Guid="603097BE-5E5C-4A2B-BBF8-F4746B028CFD" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_6CC11365_0C50" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Memory.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Memory.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2134E698_9249" Guid="5039EAE0-0715-4545-A857-F79049F91B25" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_EE1079FF_CACD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterServiceProvider.exe" Source="..\..\CitadelGUI\bin\Release x86\FilterServiceProvider.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_5A383466_4948" Guid="98453123-4D21-4672-9642-D9F6AA699C29" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4B6BF802_27C5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Interop.NetFwTypeLib.dll" Source="..\..\CitadelGUI\bin\Release x86\Interop.NetFwTypeLib.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E3A21AA0_5F0E" Guid="F4AFABAD-744A-4BED-8566-127F145BACCF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_693783B9_4464" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ManagedWifi.dll" Source="..\..\CitadelGUI\bin\Release x86\ManagedWifi.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_B82A58F7_4BBE" Guid="8902EB95-76AF-4BAD-A1BC-CCE084EF25C3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1D6BBE7B_DFCC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.CodeAnalysis.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.CodeAnalysis.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_BBC9747C_950E" Guid="0E14A5BE-E9F3-4397-8221-EEB4E4DF7E22" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_3D0A3036_CECC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.CodeAnalysis.CSharp.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.CodeAnalysis.CSharp.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_3B0341D1_EFB7" Guid="489640CD-10AE-43D5-82F9-63CEEB8E70DC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_A3CCBFAF_E243" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_812662A5_36F6" Guid="58837283-0595-4FC7-B51B-AD5DB69807E0" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_51889367_DF15" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Topshelf.dll" Source="..\..\CitadelGUI\bin\Release x86\Topshelf.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_C4C5978D_6DBB" Guid="DAC15704-B5DA-413A-A948-2287CB1B1276" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_BDE1C9B4_E1B6" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="WinDivertSharp.dll" Source="..\..\CitadelGUI\bin\Release x86\WinDivertSharp.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2D533EEF_E401" Guid="1B6486B7-9C7B-4366-A2C0-ACF6B9888A21" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_A1085291_C56F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="WindowsFirewallHelper.dll" Source="..\..\CitadelGUI\bin\Release x86\WindowsFirewallHelper.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_CF1B08EE_EAC6" Guid="D841E4FE-8B4C-4687-8F5A-475CD5CBABE5" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_30B4E348_A434" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterServiceProvider.exe.config" Source="..\..\CitadelGUI\bin\Release x86\FilterServiceProvider.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_3F9F23A1_9C55" Guid="CABFCBB3-ACC4-4A4E-80C2-B887D3E58002" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_CE206D78_B9B7" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GalaSoft.MvvmLight.Extras.dll" Source="..\..\CitadelGUI\bin\Release x86\GalaSoft.MvvmLight.Extras.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_3E4AC7FA_B347" Guid="13F0E824-5059-4C45-9FF6-6EA536001132" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_23E9B7B6_ED96" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Practices.ServiceLocation.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Practices.ServiceLocation.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_8BB9107C_3486" Guid="CFEA5EB1-34B5-4C9D-BD80-39D47CC22E15" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_64413E7D_6EC6" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="InstallGuard.exe" Source="..\..\CitadelGUI\bin\Release x86\InstallGuard.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_F9D39C33_656D" Guid="34B8432B-5FC8-4F94-8300-4B025F145008" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C0108525_E4AF" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="InstallGuard.exe.config" Source="..\..\CitadelGUI\bin\Release x86\InstallGuard.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_41456C02_1DC9" Guid="786E93F9-552B-42D7-8969-1FC247CCAA97" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0DA7F21B_5E31" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.dll" Source="..\..\CitadelGUI\bin\Release x86\MahApps.Metro.IconPacks.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_DAE41D10_9258" Guid="ECFC2EB6-B386-463D-AFCB-9C1FA8A26C9D" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5E04FF8E_0C32" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Caching.Abstractions.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Extensions.Caching.Abstractions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2DA80E3F_9F69" Guid="4806C9D6-B94D-4849-807D-009D17409647" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_91C6BBA1_9C86" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Primitives.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_D396F6E5_F3B3" Guid="DD38793A-1DD6-4F88-B333-654CA3FA3174" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_05F2E5D1_B4FF" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Caching.Memory.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Extensions.Caching.Memory.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_C7EDE7D2_D5EB" Guid="DC4D14FD-CC6B-4365-B0CA-E5AE6F3A38AB" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_CC0EC42D_0229" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_B1E28FA3_3780" Guid="5143FEDE-FC7B-4F83-B895-61ACDC015A1A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_DD8EAD1D_8245" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Options.dll" Source="..\..\CitadelGUI\bin\Release x86\Microsoft.Extensions.Options.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_5649A06A_F6BB" Guid="C4A89795-695C-478D-9024-42AABEFC9BBC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_AC57FC0D_7917" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NLog.config" Source="..\..\CitadelGUI\bin\Release x86\NLog.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_2CC4C6BB_2517" Guid="74BB1A7A-4873-4970-9675-B9790D389F44" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D065D2B2_FBBD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NodaTime.dll" Source="..\..\CitadelGUI\bin\Release x86\NodaTime.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0177A441_30E7" Guid="BD5D6F66-0A51-4C91-B7CA-E93259D06ACC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_704A8D24_D8FC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.batteries_green.dll" Source="..\..\CitadelGUI\bin\Release x86\SQLitePCLRaw.batteries_green.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_84738283_20BE" Guid="6E15B8EF-7068-45DB-9D26-F378E9217793" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_6749260A_F055" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.batteries_v2.dll" Source="..\..\CitadelGUI\bin\Release x86\SQLitePCLRaw.batteries_v2.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_30AF4374_0692" Guid="4E88658C-98D6-48C8-8F5F-AFDCE265768A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_61B046A1_E239" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="StreamExtended.dll" Source="..\..\CitadelGUI\bin\Release x86\StreamExtended.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_B2FEA926_1351" Guid="033E5011-DA64-4CAA-858A-FAF877D421BF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B02103CC_5BD8" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Collections.Immutable.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Collections.Immutable.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_9DCD41AD_DF5F" Guid="B6A9A050-4E74-48FD-95FB-1E10ECC079AB" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_207828A9_E582" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.IO.Pipes.AccessControl.dll" Source="..\..\CitadelGUI\bin\Release x86\System.IO.Pipes.AccessControl.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_5737FFF7_43F8" Guid="C5C377CF-CAD1-4954-AC2C-EE1CC698391E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_682D1867_C68F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Numerics.Vectors.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Numerics.Vectors.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_6ED7B4EA_E5B4" Guid="CF4FC702-EDB9-4A83-A404-B9DB35FFC890" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_EF69B521_C62C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Reflection.Metadata.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Reflection.Metadata.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A139CF7A_510B" Guid="23EAF837-B7AB-4400-B0D5-FF57AD7055F7" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_7ECAFD8D_1BE1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Reflection.TypeExtensions.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Reflection.TypeExtensions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_6AB3269F_CA5A" Guid="F711A2BC-FAC2-4798-83F3-87EDDA25F471" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B2DB74E6_B813" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_BA4514E6_5046" Guid="3A1A653F-805E-4A9E-A368-21801E811BF6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_6DDEF887_C813" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Security.AccessControl.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Security.AccessControl.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_55338F53_8EBF" Guid="936C230A-84C5-4D46-AB9A-B8124F6FCC7E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_A978A7B4_FF11" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Security.Principal.Windows.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Security.Principal.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2AF1BD6A_47A7" Guid="BFBBADC1-2244-4CB6-8760-CC834BE8F809" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E8EF3FD9_47FF" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Text.Encoding.CodePages.dll" Source="..\..\CitadelGUI\bin\Release x86\System.Text.Encoding.CodePages.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_77BEB61D_48D6" Guid="D19CFFB2-E6E3-4346-BC17-954C5EF1F0A8" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0CE39300_63FA" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="TimeZoneConverter.dll" Source="..\..\CitadelGUI\bin\Release x86\TimeZoneConverter.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_83911550_3789" Guid="42F73748-2899-4119-B6B5-2AC6625AAC0B" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_55F20CDA_7EEB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.provider.e_sqlite3.dll" Source="..\..\CitadelGUI\bin\Release x86\SQLitePCLRaw.provider.e_sqlite3.dll" KeyPath="yes" />
        </Component>
        <Directory Id="_DA169FAD_C46F_0842_9773_4E1EE5FCC534" Name="x86">
          <Component Id="com_05620AE3_DE01_7943_8FA3_2D2F1316643A" Guid="984E12AF-02AA-4BD0-890B-B93D5CB8D22E" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_05620AE3_DE01_7943_8FA3_2D2F1316643A" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WinDivert64.sys" Source="..\..\CitadelGUI\bin\Release x86\x86\WinDivert64.sys" KeyPath="yes" />
          </Component>
          <Component Id="com_718AED2B_984F_A94E_B378_099D87D01F2B" Guid="429DF4C4-B7CA-4AB4-822A-D63AA24CE06E" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_718AED2B_984F_A94E_B378_099D87D01F2B" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WinDivert.dll" Source="..\..\CitadelGUI\bin\Release x86\x86\WinDivert.dll" KeyPath="yes" />
          </Component>
          <Component Id="com_D80DB20C_47B4_5B40_A955_E12F79C9C121" Guid="1CC59D42-8AAA-4C38-A943-F26F790FF2CE" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_D80DB20C_47B4_5B40_A955_E12F79C9C121" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="e_sqlite3.dll" Source="..\..\CitadelGUI\bin\Release x86\x86\e_sqlite3.dll" KeyPath="yes" />
          </Component>
          <Component Id="com_D9947A0C_D56A_F242_A11B_17D75BA3D672" Guid="9B86E71B-60AD-4155-ABBD-36CEBF45A9EF" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_D9947A0C_D56A_F242_A11B_17D75BA3D672" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WinDivert32.sys" Source="..\..\CitadelGUI\bin\Release x86\x86\WinDivert32.sys" KeyPath="yes" />
          </Component>
          <Component Id="comp_86CCE0BD_9963" Guid="1000812B-909D-45E8-977A-D79EA5BE6422" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_06833C0E_57B2" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="proxy.dll" Source="..\..\CitadelGUI\bin\Release x86\x86\proxy.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_D03EDAA7_862A" Name="de">
          <Component Id="comp_DE9A8449_785F" Guid="24FB46F2-79D3-412E-BC38-F9A96EA4EA67" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_2ED77426_F0BB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x86\de\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1444" Name="es">
          <Component Id="comp_0FD07455_476B" Guid="C2695375-66D1-48B5-8D74-967E95819B3A" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_0CAE5480_C079" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x86\es\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1443" Name="fr">
          <Component Id="comp_BBCE5A46_FEF2" Guid="6A2C2642-6679-4F30-9A38-29EB76A79173" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_C306F962_B873" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x86\fr\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1442" Name="it">
          <Component Id="comp_94819F55_C271" Guid="A469B670-0167-4C98-B8E9-8BE95EDD419E" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_3A6DFF47_BF86" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x86\it\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1441" Name="pl">
          <Component Id="comp_9DF3F4D5_21D5" Guid="ADF10A52-BB5F-4A63-9FA4-71B1BF49FE9B" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_A01D4F6C_D718" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x86\pl\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1440" Name="ru">
          <Component Id="comp_C6689CC5_75C1" Guid="9C146E33-B43C-42A2-82F5-C56ACF226EB5" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_903784F9_9BA4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x86\ru\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_AC64573A_8635" Name="zh-CN">
          <Component Id="comp_CB56750F_37F6" Guid="E5FF43EC-6B32-4FD0-B4EC-502EC9043112" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_61BF38B2_EBBA" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x86\zh-CN\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="com_dirDesktopFolder" Guid="ECF8735E-6532-4704-BD49-264D8AC217A4" Transitive="no">
          <RemoveFolder Id="_82A8D763_ED34_4973_869D_C9705AE674EE" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="com_dirDesktopFolder" Type="string" Value="Desktop directory" KeyPath="yes" />
          <Shortcut Id="_0A497A29_03B8_754E_810F_1B5BF4D19870" Name="CloudVeil For Windows" Show="normal" WorkingDirectory="NEWRETARGETABLEPROPERTY1" Target="[NEWRETARGETABLEPROPERTY1]CloudVeil.exe">
            <Icon Id="_1B5BF4D19870" SourceFile="..\..\CitadelGUI\appicon.ico" />
          </Shortcut>
        </Component>
      </Directory>
    </Directory>
    <!-- The reference to the component group of the 'InstallGuard' project output. -->
    <InstallExecuteSequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </InstallUISequence>
    <AdminExecuteSequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </AdminExecuteSequence>
    <AdminUISequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </AdminUISequence>
  </Module>
</Wix>