<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="CloudVeilPayload" Language="1033" Version="1.7.0.0" Codepage="1252">
    <Package Id="0862028596DF4668AB1D736D2B40424F" Description="SetupPayload64" InstallerVersion="300" Languages="1033" Manufacturer="CloudVeil Technologies Inc." Platform="x64" ReadOnly="no" ShortNames="no" />
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <!-- Initialize the 'NEWRETARGETABLEPROPERTY1' directory property. -->
    <CustomAction Id="DIRCA_NEWRETARGETABLEPROPERTY1" Property="NEWRETARGETABLEPROPERTY1" Value="[TARGETDIR]" Execute="firstSequence" />
    <!-- The directory tree of the installation package. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Program Menu">
        <Component Id="com_dirProgramMenuFolder" Guid="E9ADAC0E-16EA-424F-B82E-A96E6FE0C7DE" Transitive="no">
          <RemoveFolder Id="_C2B4871C_2E79_4F3A_9E84_F589753F543B" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="com_dirProgramMenuFolder" Type="string" Value="Program Menu directory" KeyPath="yes" />
          <Shortcut Id="_F5B447D7_A68D_5943_BFAA_BD6A1EBDB3E2" Name="CloudVeil For Windows" Show="normal" WorkingDirectory="NEWRETARGETABLEPROPERTY1" Target="[NEWRETARGETABLEPROPERTY1]CloudVeil.exe">
            <Icon Id="_BD6A1EBDB3E2" SourceFile="..\..\CloudVeilGUI\CloudVeilGUI.WPF\appicon.ico" />
          </Shortcut>
        </Component>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="com_dirDesktopFolder" Guid="B00169FB-FCB1-4297-B527-48B7B2DF7313" Transitive="no">
          <RemoveFolder Id="_D1F07986_FD5E_49DE_966C_4512D2C83820" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="com_dirDesktopFolder" Type="string" Value="Desktop directory" KeyPath="yes" />
          <Shortcut Id="_D125C71B_23C1_F945_A33A_96039C133ED9" Name="CloudVeil For Windows" Show="normal" WorkingDirectory="NEWRETARGETABLEPROPERTY1" Target="[NEWRETARGETABLEPROPERTY1]CloudVeil.exe">
            <Icon Id="_96039C133ED9" SourceFile="..\..\CloudVeilGUI\CloudVeilGUI.WPF\appicon.ico" />
          </Shortcut>
        </Component>
      </Directory>
      <Directory Id="NEWRETARGETABLEPROPERTY1" Name="Module Retargetable Folder">
        <Component Id="com_15BA3E04_E955_2942_9625_325577B7C8B6" Guid="12183EB0-B5B7-437B-8908-3C7C8262296E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_15BA3E04_E955_2942_9625_325577B7C8B6" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Topshelf.dll" Source="..\..\CitadelGUI\bin\Release x64\Topshelf.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_365225E7_1E4E_B84A_A1BB_A40338E9482F" Guid="39393005-51DA-4CA5-8465-75C2B30087B5" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_365225E7_1E4E_B84A_A1BB_A40338E9482F" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WindowsFirewallHelper.dll" Source="..\..\CitadelGUI\bin\Release x64\WindowsFirewallHelper.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_4D4062FE_3467_B74F_A6D7_F7F18B9A7723" Guid="2CFB73D1-31DE-45F0-9B50-6FA11E054132" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4D4062FE_3467_B74F_A6D7_F7F18B9A7723" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="BouncyCastle.Crypto.dll" Source="..\..\CitadelGUI\bin\Release x64\BouncyCastle.Crypto.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_96C28C14_5E19_E44D_AF5E_315B42903962" Guid="4F334447-0B3E-4140-B338-E167A75BE8B9" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_96C28C14_5E19_E44D_AF5E_315B42903962" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Citadel.Core.Windows.dll" Source="..\..\CitadelGUI\bin\Release x64\Citadel.Core.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_B146E0A9_6068_C741_AC20_ECC2A0B0E1DA" Guid="25C27E60-2847-446D-A8F9-F7FA9E33B0BD" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B146E0A9_6068_C741_AC20_ECC2A0B0E1DA" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="appicon.ico" Source="..\..\CloudVeilGUI\CloudVeilGUI.WPF\appicon.ico" KeyPath="yes" />
        </Component>
        <Component Id="com_B71AA335_0E78_E443_82DB_7AE818845593" Guid="4B61DA14-93CD-48C6-8073-707B4CCAA30C" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B71AA335_0E78_E443_82DB_7AE818845593" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="System.Text.Encoding.CodePages.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Text.Encoding.CodePages.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_CF59B35B_53F0_0D47_961D_74CE487FCCCB" Guid="7B353703-B680-4538-A8DD-3D2FCDE9D99E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_CF59B35B_53F0_0D47_961D_74CE487FCCCB" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
        </Component>
        <!-- The 'InstallGuard' project output. -->
        <!--<Component Id="comp_4DF2BCC6_189C" Guid="CE192BB4-A8BC-41F4-9829-291107227FE7" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1DE9226C_55B1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Net.Http.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Net.Http.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_570282AB_9586" Guid="98B4F591-FB09-4C87-B453-A6A4B72F124E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_58E52A93_6301" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Net.WebSockets.Client.Managed.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Net.WebSockets.Client.Managed.dll" KeyPath="yes" />
        </Component>
        <Directory Id="InstallGuard.Binaries" />-->
        <Component Id="comp_5346A521_981B" Guid="64735ED0-0320-4F2C-8EE5-85F8940DB75B" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_84BCA417_832A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Filter.Platform.Common.dll" Source="..\..\CitadelGUI\bin\Release x64\Filter.Platform.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_22AD1884_EB0B" Guid="3224360C-4774-423C-AE58-5FC753DC9F99" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4A720D00_8D41" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.Core.Windows.pdb" Source="..\..\CitadelGUI\bin\Release x64\Citadel.Core.Windows.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_159D67FB_7D2E" Guid="EFC41DC3-1954-4EDD-ABFF-05FFA73DAAD6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C855A854_27E0" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.IPC.Common.dll" Source="..\..\CitadelGUI\bin\Release x64\Citadel.IPC.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_D7EA2492_9EAA" Guid="9DB1DCEF-2E57-4A28-B5E0-03CA3DE1631D" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B79A043A_DE40" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.IPC.Common.pdb" Source="..\..\CitadelGUI\bin\Release x64\Citadel.IPC.Common.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_968AE87E_EE2C" Guid="0E9A0E25-9638-4405-A955-606C7A5207A1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_206EA336_3746" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_56C7FA05_9129" Guid="F5D8ED70-C1E1-4C19-AE1A-ED36FAE9DDFE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B15DE07F_8AEC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Options.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.Options.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0DC0F70F_7F99" Guid="B916D54D-687B-4BCE-A2DD-E0B4A23C7EA6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C283DB82_A3A9" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Buffers.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Buffers.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_3EF89191_65EF" Guid="D50CDA52-C68C-40DD-9F08-8C7DD39F45FE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_841B5D86_5ADB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Memory.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Memory.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_B4FBF7E2_E978" Guid="342467C6-C2EB-4178-BDB3-65BD40F101BA" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4B7D63A7_45C5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CitadelCore.Windows.dll" Source="..\..\CitadelGUI\bin\Release x64\CitadelCore.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2C193CF4_A806" Guid="212E5FAE-88B3-4A3E-9DBD-5A0D33883230" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_F11862ED_FFFB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="WinDivertSharp.dll" Source="..\..\CitadelGUI\bin\Release x64\WinDivertSharp.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A08573E3_AAA3" Guid="5850308D-09D4-476C-B432-23DD07BA53CB" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1B4FFBDB_DE96" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeil.exe" Source="..\..\CitadelGUI\bin\Release x64\CloudVeil.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_808C4327_E9BD" Guid="8D6F2FE8-97F6-435F-8050-7329881D4CCC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1317AA89_0D43" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeilGUI.dll" Source="..\..\CitadelGUI\bin\Release x64\CloudVeilGUI.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_25A8CB5D_DC19" Guid="5B498873-67D1-41D6-8ED5-5D510D76F3B8" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4E6B6FD3_DE83" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Core.dll" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Core.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2C0EE004_9F64" Guid="062ECDD8-3D2A-4D57-9928-287C1D9781DF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_94869D06_D344" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Platform.dll" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Platform.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_5809D2D8_2512" Guid="8F907D3E-6010-49FC-B543-E16350C5B706" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_7C1E5EAC_9CD5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Platform.WPF.dll" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Platform.WPF.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2803E906_5ECF" Guid="23D9C824-CD57-4BB4-8848-254A3B7DC1F1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D4D27BFC_8EB1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Xaml.dll" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Xaml.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_108A7085_B85C" Guid="39FE7540-7433-4188-86E9-C4EB147036CE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D47FEB1F_CAAB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeil.exe.config" Source="..\..\CitadelGUI\bin\Release x64\CloudVeil.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_34FF5E6C_1517" Guid="26D1EB12-8F07-4BB4-939D-5FE9FAE3E386" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_BC40A453_E469" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeil.pdb" Source="..\..\CitadelGUI\bin\Release x64\CloudVeil.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_9562B9CA_94B6" Guid="EA7D6EB8-C587-4431-825E-41847BE66AC4" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0C3EE252_A3D5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeilGUI.pdb" Source="..\..\CitadelGUI\bin\Release x64\CloudVeilGUI.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_C719900C_4866" Guid="BA3022A6-5E3B-4E85-AC73-0D3B6154BA66" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9E7B6572_46CB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="DistillNET.dll" Source="..\..\CitadelGUI\bin\Release x64\DistillNET.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_4CAB5E3B_494A" Guid="34DB44BB-17E8-4340-88A5-EC39D23CBA26" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C43371A2_93B5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.core.dll" Source="c:\program files (x86)\microsoft visual studio\2017\community\common7\ide\commonextensions\microsoft\managedlanguages\vbcsharp\languageservices\SQLitePCLRaw.core.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_1DC9B8F3_1F93" Guid="2612B7D7-752D-40A8-B745-6B85D5078CEC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_CD633B42_3FCE" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="DNS.dll" Source="..\..\CitadelGUI\bin\Release x64\DNS.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2DE43EC2_F144" Guid="21FB69D1-9D8B-4571-9220-FF5390852461" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1C61AC70_49BB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Filter.Platform.Common.pdb" Source="..\..\CitadelGUI\bin\Release x64\Filter.Platform.Common.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_69C00DA6_ED02" Guid="D8A83F48-475F-4BE4-9FBF-741B2ACD74C1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_59E0129D_C8E5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.exe" Source="..\..\CitadelGUI\bin\Release x64\FilterAgent.Windows.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_E9389479_3B98" Guid="47A0CD71-CA4C-49DC-B0C5-54D795A5ECF7" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_81EC26B0_2045" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.exe.config" Source="..\..\CitadelGUI\bin\Release x64\FilterAgent.Windows.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_A41D0A49_C680" Guid="C33CD0D4-31EB-463F-ADC7-D263947785E8" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5EB6F359_8380" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.pdb" Source="..\..\CitadelGUI\bin\Release x64\FilterAgent.Windows.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_5210632D_94BC" Guid="4A4222E8-35A0-48F3-B3E2-2CE73DAC811E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_54979095_2995" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterServiceProvider.exe" Source="..\..\CitadelGUI\bin\Release x64\FilterServiceProvider.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_E24A581F_B3CF" Guid="2FDCE70A-2D36-44D6-977E-0B8E1A131A56" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9F94DE5E_7759" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterServiceProvider.exe.config" Source="..\..\CitadelGUI\bin\Release x64\FilterServiceProvider.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_E9A62009_6BF9" Guid="D5C90075-278C-4201-85AC-01014640228C" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_868924A9_1788" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="InstallGuard.exe" Source="..\..\CitadelGUI\bin\Release x64\InstallGuard.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_AD67EA11_0AFA" Guid="69160552-EB0A-42AF-A66A-7A0A062FC52E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9A8C981B_31CE" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="InstallGuard.exe.config" Source="..\..\CitadelGUI\bin\Release x64\InstallGuard.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_E7008D04_4FDD" Guid="79FE5C9F-F032-47ED-9BA7-4F9F0D952A66" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_818F2391_5641" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="InstallGuard.pdb" Source="..\..\CitadelGUI\bin\Release x64\InstallGuard.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_5A5921FC_7E81" Guid="B6F07ED2-6F94-4EB5-A3BB-07447BE7F8C9" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9DB26D42_DE46" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Interop.NetFwTypeLib.dll" Source="..\..\CitadelGUI\bin\Release x64\Interop.NetFwTypeLib.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0CF71C8C_3D22" Guid="26AA4EC4-1F6E-467D-BC7B-2F158B31F6B0" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D2DDC861_2608" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ManagedWifi.dll" Source="..\..\CitadelGUI\bin\Release x64\ManagedWifi.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_77F6F034_A5C4" Guid="C4291C82-95EC-4E4A-9D25-005B0DD0D72D" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_296D4AAF_1158" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.CodeAnalysis.CSharp.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.CodeAnalysis.CSharp.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_77853F9B_5CF4" Guid="19EE8454-1B54-4FBB-BD22-BED208DCA331" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_09C5C12B_2561" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.CodeAnalysis.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.CodeAnalysis.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_10E06469_8211" Guid="4B6407FE-5793-4DA6-9BDD-63B1DF0AB46A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D260A6A1_817D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Data.Sqlite.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Data.Sqlite.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_39ECE5A0_970B" Guid="5ADE4D72-2984-44AB-81AD-68A585FBE066" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_14B407DC_1D6D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Primitives.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_EC8785FF_A36E" Guid="A5DEAA43-BE16-4CA8-BC4F-998E9A7A6295" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E155F44C_64DF" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Net.Http.Headers.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Net.Http.Headers.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_10E6C4A9_B927" Guid="D3C46ED4-4EFF-4213-A85B-A0293A34E5D1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_6A96B849_FE82" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_993A8498_1AD6" Guid="78BC782A-F938-4F4D-8507-DE3F4F5B2E63" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_33EFE8D7_FD35" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NamedPipeWrapper.dll" Source="..\..\CitadelGUI\bin\Release x64\NamedPipeWrapper.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_EE50F174_B36A" Guid="FA1CFB4A-EA71-4B56-8044-77F520BF6F56" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_250C2D2E_2B69" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Newtonsoft.Json.dll" Source="..\..\CitadelGUI\bin\Release x64\Newtonsoft.Json.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_FAE7F4DA_42A6" Guid="6B50C403-30CB-42AF-871D-D898598589EF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C7778199_7E1E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NLog.config" Source="..\..\CitadelGUI\bin\Release x64\NLog.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_81B88535_383A" Guid="F2D674C8-A3AC-457D-9B4E-D2AC822CDE9E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_353A4553_027A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NLog.dll" Source="..\..\CitadelGUI\bin\Release x64\NLog.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_722D4427_A15D" Guid="4F3A6520-F316-4C55-82E9-EABFB437721B" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_64237356_F13F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NodaTime.dll" Source="..\..\CitadelGUI\bin\Release x64\NodaTime.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_31E62DAB_4237" Guid="9476306E-A5C4-4DD0-B943-06E2100AD1D3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2AC10A49_C50D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NodaTime.pdb" Source="..\..\CitadelGUI\bin\Release x64\NodaTime.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_D8C3B125_D057" Guid="2FEC91D8-CDAB-436E-80B2-9C1BA5FDD3A2" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_FDC6F254_185D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.batteries_green.dll" Source="..\..\CitadelGUI\bin\Release x64\SQLitePCLRaw.batteries_green.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_10CE80FB_91A6" Guid="C7F41912-5523-4B99-94C5-23C6906DA94A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_3B696487_76B9" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.provider.e_sqlite3.dll" Source="c:\program files (x86)\microsoft visual studio\2017\community\common7\ide\commonextensions\microsoft\managedlanguages\vbcsharp\languageservices\SQLitePCLRaw.provider.e_sqlite3.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_3097A8C8_17A4" Guid="54D75551-3235-4F59-AF69-C6E5E7723092" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_895E1C9E_AC8C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.batteries_v2.dll" Source="..\..\CitadelGUI\bin\Release x64\SQLitePCLRaw.batteries_v2.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2C706FF7_3152" Guid="1223A186-2745-4B2C-A89B-4D53A01A98A0" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4B14F61D_DB90" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Collections.Immutable.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Collections.Immutable.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_035A2E97_3194" Guid="7C324C87-535C-49EC-B994-4CFB9B86AC95" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_725A5062_09BD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.IO.Pipes.AccessControl.dll" Source="..\..\CitadelGUI\bin\Release x64\System.IO.Pipes.AccessControl.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_8B0C03BB_F50A" Guid="7B1CE0E8-0E72-4EFB-9EB9-C7FF3800C447" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_684E9962_0FE1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Numerics.Vectors.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Numerics.Vectors.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A4A77E63_2997" Guid="FAC967B7-5078-4178-B0B9-BA1C2B131D7F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_49C4D337_3CC3" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Reflection.Metadata.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Reflection.Metadata.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_770EBE31_7E27" Guid="95C8D416-D468-42D9-8845-B9F1134E5E34" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D50AB5FE_C921" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Reflection.TypeExtensions.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Reflection.TypeExtensions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_FB002B61_B9E4" Guid="1617D6FE-421D-4C9C-A376-4CCCFAD5620A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E6BA8F5D_170B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Security.AccessControl.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Security.AccessControl.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_253B3221_7D9E" Guid="D83A5F80-DCE5-4681-B385-3FF6AD234EBD" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E21B43C5_3A39" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Security.Cryptography.Cng.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Security.Cryptography.Cng.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_D4B83795_462E" Guid="0DAD5C78-0585-438F-8B0C-810C6A959F1A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_078239F9_93E4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Security.Principal.Windows.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Security.Principal.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E51A9349_B53B" Guid="8F0FED3B-86AE-425D-9CBC-0CA90AAEAB31" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B94FF609_A48C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="WinDivertSharp.pdb" Source="..\..\CitadelGUI\bin\Release x64\WinDivertSharp.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_0502A261_93CE" Guid="A333A963-8C3D-4FAE-952A-68F5CF34762D" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2C4E00FB_CF48" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Core.pdb" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Core.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_2A46A112_98DF" Guid="AFF14D3B-2A8E-4DAA-ACC3-0E006EB7423A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5E6E07EE_FD0C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Core.xml" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Core.xml" KeyPath="yes" />
        </Component>
        <Component Id="comp_A75E0D6B_2C38" Guid="C26618EC-DDEB-4AEA-AE3A-FDA4E5CC0F4E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_A86F2B3F_B2FE" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Platform.WPF.pdb" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Platform.WPF.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_B6BE8231_9D81" Guid="8C2C6614-1EAC-4186-956C-B5503DD44902" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2ED6E8D5_AA9A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Xaml.pdb" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Xaml.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_2408E4E6_733A" Guid="D6AD658F-29FC-4FB1-AD56-EB28BDE69BD1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_F8E79491_652E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Xamarin.Forms.Xaml.xml" Source="..\..\CitadelGUI\bin\Release x64\Xamarin.Forms.Xaml.xml" KeyPath="yes" />
        </Component>
        <Component Id="comp_EF93FB74_BA3D" Guid="9FDBA0BB-0C76-46CB-B44E-877B754E55E6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_F70E68CC_6CD0" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="BrotliSharpLib.dll" Source="..\..\CitadelGUI\bin\Release x64\BrotliSharpLib.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A2936DCD_CD71" Guid="E68CAFE3-7B47-4544-BF80-540B4E5791BB" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4819A8DD_F41A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Titanium.Web.Proxy.dll" Source="..\..\CitadelGUI\bin\Release x64\Titanium.Web.Proxy.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_364DFCC2_AEE8" Guid="B9A3C774-4D60-4479-96C4-D934936B72CD" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_25C5585D_F64F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterProvider.Common.dll" Source="..\..\CitadelGUI\bin\Release x64\FilterProvider.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E0254AA0_DD67" Guid="3A34BD73-E319-4BCB-B6AC-101DEA89AF3F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_7A230D21_8429" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.ServiceModel.Syndication.dll" Source="..\..\CitadelGUI\bin\Release x64\System.ServiceModel.Syndication.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_F2865644_8363" Guid="D12604EB-8B9B-43CF-B55F-4F4F74B5C2E6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_DE59FCB6_DD9C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterProvider.Common.pdb" Source="..\..\CitadelGUI\bin\Release x64\FilterProvider.Common.pdb" KeyPath="yes" />
        </Component>
        <Directory Id="_BF1BBB44_638D_4B42_A3C1_B89E12A99E46" Name="x64">
          <Component Id="com_dir_BF1BBB44_638D_4B42_A3C1_B89E12A99E46" Guid="32E744EE-CD71-422E-9124-B9D2B5BEDFC2" Transitive="no">
            <CreateFolder Directory="_BF1BBB44_638D_4B42_A3C1_B89E12A99E46" />
            <RemoveFolder Id="_34874174_4D2F_43E5_8571_E73460E1D5B4" On="uninstall" />
          </Component>
          <Component Id="com_1E44E29B_5E1F_EE4C_A24B_C5372FBDE429" Guid="7AF90A9F-5675-4693-9E22-2505F3AE29FA" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_1E44E29B_5E1F_EE4C_A24B_C5372FBDE429" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WinDivert64.sys" Source="..\..\CitadelGUI\bin\Release x64\x64\WinDivert64.sys" KeyPath="yes" />
          </Component>
          <Component Id="com_5B643A28_522C_DA4F_AAB0_5643CDA65D3D" Guid="5C1040D7-8175-457D-BCD9-B728D594406B" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_5B643A28_522C_DA4F_AAB0_5643CDA65D3D" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="e_sqlite3.dll" Source="..\..\CitadelGUI\bin\Release x64\x64\e_sqlite3.dll" KeyPath="yes" />
          </Component>
          <Component Id="com_D51E1AB6_BE5B_BA4B_9256_EC83CDE3A455" Guid="52937FBF-1955-4DF6-B961-D50851181D23" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_D51E1AB6_BE5B_BA4B_9256_EC83CDE3A455" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WinDivert.dll" Source="..\..\CitadelGUI\bin\Release x64\x64\WinDivert.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <!-- The reference to the component group of the 'InstallGuard' project output. -->
    <!--<ComponentGroupRef Id="InstallGuard.Binaries" />-->
    <InstallExecuteSequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </InstallUISequence>
    <AdminExecuteSequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </AdminExecuteSequence>
    <AdminUISequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </AdminUISequence>
  </Module>
</Wix>