<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="CloudVeilPayload" Language="1033" Version="2.0.1" Codepage="1252">
    <Package Id="0862028596DF4668AB1D736D2B40424F" Description="SetupPayload64" InstallerVersion="300" Languages="1033" Manufacturer="CloudVeil Technologies Inc." Platform="x64" ReadOnly="no" ShortNames="no" />
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <!-- Initialize the 'NEWRETARGETABLEPROPERTY1' directory property. -->
    <CustomAction Id="DIRCA_NEWRETARGETABLEPROPERTY1" Property="NEWRETARGETABLEPROPERTY1" Value="[TARGETDIR]" Execute="firstSequence" />
    <!-- The directory tree of the installation package. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Program Menu">
        <Component Id="com_dirProgramMenuFolder" Guid="E9ADAC0E-16EA-424F-B82E-A96E6FE0C7DE" Transitive="no">
          <RemoveFolder Id="_C2B4871C_2E79_4F3A_9E84_F589753F543B" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="com_dirProgramMenuFolder" Type="string" Value="Program Menu directory" KeyPath="yes" />
          <Shortcut Id="_F5B447D7_A68D_5943_BFAA_BD6A1EBDB3E2" Name="CloudVeil For Windows" Show="normal" WorkingDirectory="NEWRETARGETABLEPROPERTY1" Target="[NEWRETARGETABLEPROPERTY1]CloudVeil.exe">
            <Icon Id="_BD6A1EBDB3E2" SourceFile="..\..\CloudVeilGUI\CloudVeilGUI.WPF\appicon.ico" />
          </Shortcut>
        </Component>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="com_dirDesktopFolder" Guid="B00169FB-FCB1-4297-B527-48B7B2DF7313" Transitive="no">
          <RemoveFolder Id="_D1F07986_FD5E_49DE_966C_4512D2C83820" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="com_dirDesktopFolder" Type="string" Value="Desktop directory" KeyPath="yes" />
          <Shortcut Id="_D125C71B_23C1_F945_A33A_96039C133ED9" Name="CloudVeil For Windows" Show="normal" WorkingDirectory="NEWRETARGETABLEPROPERTY1" Target="[NEWRETARGETABLEPROPERTY1]CloudVeil.exe">
            <Icon Id="_96039C133ED9" SourceFile="..\..\CloudVeilGUI\CloudVeilGUI.WPF\appicon.ico" />
          </Shortcut>
        </Component>
      </Directory>
      <!-- ignore-file:..\..\CitadelGUI\bin\Release x64\e_sqlite3.dll -->
      <!-- ignore-file:..\..\CitadelGUI\bin\Release x64\x86\* -->
      <!-- ignore-file:..\..\CitadelGUI\bin\Release x64\*.pdb -->
      <!-- ignore-file:..\..\CitadelGUI\bin\Release x64\FilterStarter.exe -->
      <!-- ignore-file:..\..\CitadelGUI\bin\Release x64\Sentinel.exe -->
      <!-- ignore-file:..\..\CitadelGUI\bin\Release x64\Warden.exe -->
      <Directory Id="NEWRETARGETABLEPROPERTY1" Name="Module Retargetable Folder">
        <Component Id="com_15BA3E04_E955_2942_9625_325577B7C8B6" Guid="12183EB0-B5B7-437B-8908-3C7C8262296E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_15BA3E04_E955_2942_9625_325577B7C8B6" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Topshelf.dll" Source="..\..\CitadelGUI\bin\Release x64\Topshelf.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_365225E7_1E4E_B84A_A1BB_A40338E9482F" Guid="39393005-51DA-4CA5-8465-75C2B30087B5" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_365225E7_1E4E_B84A_A1BB_A40338E9482F" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WindowsFirewallHelper.dll" Source="..\..\CitadelGUI\bin\Release x64\WindowsFirewallHelper.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_4D4062FE_3467_B74F_A6D7_F7F18B9A7723" Guid="2CFB73D1-31DE-45F0-9B50-6FA11E054132" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4D4062FE_3467_B74F_A6D7_F7F18B9A7723" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="BouncyCastle.Crypto.dll" Source="..\..\CitadelGUI\bin\Release x64\BouncyCastle.Crypto.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_B146E0A9_6068_C741_AC20_ECC2A0B0E1DA" Guid="25C27E60-2847-446D-A8F9-F7FA9E33B0BD" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B146E0A9_6068_C741_AC20_ECC2A0B0E1DA" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="appicon.ico" Source="..\..\CloudVeilGUI\CloudVeilGUI.WPF\appicon.ico" KeyPath="yes" />
        </Component>
        <Component Id="com_B71AA335_0E78_E443_82DB_7AE818845593" Guid="4B61DA14-93CD-48C6-8073-707B4CCAA30C" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B71AA335_0E78_E443_82DB_7AE818845593" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="System.Text.Encoding.CodePages.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Text.Encoding.CodePages.dll" KeyPath="yes" />
        </Component>
        <Component Id="com_CF59B35B_53F0_0D47_961D_74CE487FCCCB" Guid="7B353703-B680-4538-A8DD-3D2FCDE9D99E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_CF59B35B_53F0_0D47_961D_74CE487FCCCB" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
        </Component>
        <!-- The 'InstallGuard' project output. -->
        <!--<Component Id="comp_4DF2BCC6_189C" Guid="CE192BB4-A8BC-41F4-9829-291107227FE7" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1DE9226C_55B1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Net.Http.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Net.Http.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_570282AB_9586" Guid="98B4F591-FB09-4C87-B453-A6A4B72F124E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_58E52A93_6301" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Net.WebSockets.Client.Managed.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Net.WebSockets.Client.Managed.dll" KeyPath="yes" />
        </Component>
        <Directory Id="InstallGuard.Binaries" />-->
        <Component Id="comp_5346A521_981B" Guid="64735ED0-0320-4F2C-8EE5-85F8940DB75B" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_84BCA417_832A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Filter.Platform.Common.dll" Source="..\..\CitadelGUI\bin\Release x64\Filter.Platform.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_159D67FB_7D2E" Guid="EFC41DC3-1954-4EDD-ABFF-05FFA73DAAD6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C855A854_27E0" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.IPC.Common.dll" Source="..\..\CitadelGUI\bin\Release x64\Citadel.IPC.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_D7EA2492_9EAA" Guid="9DB1DCEF-2E57-4A28-B5E0-03CA3DE1631D" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B79A043A_DE40" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.IPC.Common.pdb" Source="..\..\CitadelGUI\bin\Release x64\Citadel.IPC.Common.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_968AE87E_EE2C" Guid="0E9A0E25-9638-4405-A955-606C7A5207A1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_206EA336_3746" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_56C7FA05_9129" Guid="F5D8ED70-C1E1-4C19-AE1A-ED36FAE9DDFE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_B15DE07F_8AEC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Options.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.Options.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0DC0F70F_7F99" Guid="B916D54D-687B-4BCE-A2DD-E0B4A23C7EA6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C283DB82_A3A9" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Buffers.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Buffers.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_3EF89191_65EF" Guid="D50CDA52-C68C-40DD-9F08-8C7DD39F45FE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_841B5D86_5ADB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Memory.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Memory.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2C193CF4_A806" Guid="212E5FAE-88B3-4A3E-9DBD-5A0D33883230" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_F11862ED_FFFB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="WinDivertSharp.dll" Source="..\..\CitadelGUI\bin\Release x64\WinDivertSharp.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A08573E3_AAA3" Guid="5850308D-09D4-476C-B432-23DD07BA53CB" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1B4FFBDB_DE96" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeil.exe" Source="..\..\CitadelGUI\bin\Release x64\CloudVeil.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_808C4327_E9BD" Guid="8D6F2FE8-97F6-435F-8050-7329881D4CCC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1317AA89_0D43" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeilGUI.Common.dll" Source="..\..\CitadelGUI\bin\Release x64\CloudVeilGUI.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_108A7085_B85C" Guid="39FE7540-7433-4188-86E9-C4EB147036CE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D47FEB1F_CAAB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CloudVeil.exe.config" Source="..\..\CitadelGUI\bin\Release x64\CloudVeil.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_C719900C_4866" Guid="BA3022A6-5E3B-4E85-AC73-0D3B6154BA66" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9E7B6572_46CB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="DistillNET.dll" Source="..\..\CitadelGUI\bin\Release x64\DistillNET.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_1DC9B8F3_1F93" Guid="2612B7D7-752D-40A8-B745-6B85D5078CEC" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_CD633B42_3FCE" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="DNS.dll" Source="..\..\CitadelGUI\bin\Release x64\DNS.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2DE43EC2_F144" Guid="21FB69D1-9D8B-4571-9220-FF5390852461" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1C61AC70_49BB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Filter.Platform.Common.pdb" Source="..\..\CitadelGUI\bin\Release x64\Filter.Platform.Common.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_69C00DA6_ED02" Guid="D8A83F48-475F-4BE4-9FBF-741B2ACD74C1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_59E0129D_C8E5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.exe" Source="..\..\CitadelGUI\bin\Release x64\FilterAgent.Windows.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_E9389479_3B98" Guid="47A0CD71-CA4C-49DC-B0C5-54D795A5ECF7" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_81EC26B0_2045" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.exe.config" Source="..\..\CitadelGUI\bin\Release x64\FilterAgent.Windows.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_A41D0A49_C680" Guid="C33CD0D4-31EB-463F-ADC7-D263947785E8" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_5EB6F359_8380" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterAgent.Windows.pdb" Source="..\..\CitadelGUI\bin\Release x64\FilterAgent.Windows.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_5210632D_94BC" Guid="4A4222E8-35A0-48F3-B3E2-2CE73DAC811E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_54979095_2995" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterServiceProvider.exe" Source="..\..\CitadelGUI\bin\Release x64\FilterServiceProvider.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_E24A581F_B3CF" Guid="2FDCE70A-2D36-44D6-977E-0B8E1A131A56" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9F94DE5E_7759" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterServiceProvider.exe.config" Source="..\..\CitadelGUI\bin\Release x64\FilterServiceProvider.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_5A5921FC_7E81" Guid="B6F07ED2-6F94-4EB5-A3BB-07447BE7F8C9" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9DB26D42_DE46" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Interop.NetFwTypeLib.dll" Source="..\..\CitadelGUI\bin\Release x64\Interop.NetFwTypeLib.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0CF71C8C_3D22" Guid="26AA4EC4-1F6E-467D-BC7B-2F158B31F6B0" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D2DDC861_2608" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ManagedWifi.dll" Source="..\..\CitadelGUI\bin\Release x64\ManagedWifi.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_77F6F034_A5C4" Guid="C4291C82-95EC-4E4A-9D25-005B0DD0D72D" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_296D4AAF_1158" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.CodeAnalysis.CSharp.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.CodeAnalysis.CSharp.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_77853F9B_5CF4" Guid="19EE8454-1B54-4FBB-BD22-BED208DCA331" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_09C5C12B_2561" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.CodeAnalysis.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.CodeAnalysis.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_10E06469_8211" Guid="4B6407FE-5793-4DA6-9BDD-63B1DF0AB46A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D260A6A1_817D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Data.Sqlite.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Data.Sqlite.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_39ECE5A0_970B" Guid="5ADE4D72-2984-44AB-81AD-68A585FBE066" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_14B407DC_1D6D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Primitives.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_10E6C4A9_B927" Guid="D3C46ED4-4EFF-4213-A85B-A0293A34E5D1" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_6A96B849_FE82" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_993A8498_1AD6" Guid="78BC782A-F938-4F4D-8507-DE3F4F5B2E63" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_33EFE8D7_FD35" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NamedPipeWrapper.dll" Source="..\..\CitadelGUI\bin\Release x64\NamedPipeWrapper.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_EE50F174_B36A" Guid="FA1CFB4A-EA71-4B56-8044-77F520BF6F56" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_250C2D2E_2B69" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Newtonsoft.Json.dll" Source="..\..\CitadelGUI\bin\Release x64\Newtonsoft.Json.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_FAE7F4DA_42A6" Guid="6B50C403-30CB-42AF-871D-D898598589EF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C7778199_7E1E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NLog.config" Source="..\..\CitadelGUI\bin\Release x64\NLog.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_81B88535_383A" Guid="F2D674C8-A3AC-457D-9B4E-D2AC822CDE9E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_353A4553_027A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NLog.dll" Source="..\..\CitadelGUI\bin\Release x64\NLog.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_722D4427_A15D" Guid="4F3A6520-F316-4C55-82E9-EABFB437721B" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_64237356_F13F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NodaTime.dll" Source="..\..\CitadelGUI\bin\Release x64\NodaTime.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_31E62DAB_4237" Guid="9476306E-A5C4-4DD0-B943-06E2100AD1D3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2AC10A49_C50D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="NodaTime.pdb" Source="..\..\CitadelGUI\bin\Release x64\NodaTime.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_D8C3B125_D057" Guid="2FEC91D8-CDAB-436E-80B2-9C1BA5FDD3A2" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_FDC6F254_185D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.batteries_green.dll" Source="..\..\CitadelGUI\bin\Release x64\SQLitePCLRaw.batteries_green.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_3097A8C8_17A4" Guid="54D75551-3235-4F59-AF69-C6E5E7723092" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_895E1C9E_AC8C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.batteries_v2.dll" Source="..\..\CitadelGUI\bin\Release x64\SQLitePCLRaw.batteries_v2.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_2C706FF7_3152" Guid="1223A186-2745-4B2C-A89B-4D53A01A98A0" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4B14F61D_DB90" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Collections.Immutable.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Collections.Immutable.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_035A2E97_3194" Guid="7C324C87-535C-49EC-B994-4CFB9B86AC95" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_725A5062_09BD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.IO.Pipes.AccessControl.dll" Source="..\..\CitadelGUI\bin\Release x64\System.IO.Pipes.AccessControl.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_8B0C03BB_F50A" Guid="7B1CE0E8-0E72-4EFB-9EB9-C7FF3800C447" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_684E9962_0FE1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Numerics.Vectors.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Numerics.Vectors.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_A4A77E63_2997" Guid="FAC967B7-5078-4178-B0B9-BA1C2B131D7F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_49C4D337_3CC3" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Reflection.Metadata.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Reflection.Metadata.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_770EBE31_7E27" Guid="95C8D416-D468-42D9-8845-B9F1134E5E34" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D50AB5FE_C921" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Reflection.TypeExtensions.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Reflection.TypeExtensions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_FB002B61_B9E4" Guid="1617D6FE-421D-4C9C-A376-4CCCFAD5620A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E6BA8F5D_170B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Security.AccessControl.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Security.AccessControl.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_D4B83795_462E" Guid="0DAD5C78-0585-438F-8B0C-810C6A959F1A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_078239F9_93E4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Security.Principal.Windows.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Security.Principal.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_364DFCC2_AEE8" Guid="B9A3C774-4D60-4479-96C4-D934936B72CD" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_25C5585D_F64F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterProvider.Common.dll" Source="..\..\CitadelGUI\bin\Release x64\FilterProvider.Common.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E0254AA0_DD67" Guid="3A34BD73-E319-4BCB-B6AC-101DEA89AF3F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_7A230D21_8429" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.ServiceModel.Syndication.dll" Source="..\..\CitadelGUI\bin\Release x64\System.ServiceModel.Syndication.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_F2865644_8363" Guid="D12604EB-8B9B-43CF-B55F-4F4F74B5C2E6" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_DE59FCB6_DD9C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="FilterProvider.Common.pdb" Source="..\..\CitadelGUI\bin\Release x64\FilterProvider.Common.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_CE0A84DF_90B7" Guid="1CC2005B-3351-4CB0-A385-8154BAB1A43A" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_ADCDA4F8_BA45" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.core.dll" Source="..\..\CitadelGUI\bin\Release x64\SQLitePCLRaw.core.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_7F8F8A58_98D3" Guid="D6141F16-0CEC-49BE-B502-3374B446E5D3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_BEE303CA_7FD0" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="SQLitePCLRaw.provider.e_sqlite3.dll" Source="..\..\CitadelGUI\bin\Release x64\SQLitePCLRaw.provider.e_sqlite3.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_6001E855_8AFD" Guid="2EB281B5-F716-4CDD-898F-B7ED52AEEDB7" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2B8C56D7_5B70" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Windows.Interactivity.dll" Source="..\..\CitadelGUI\bin\Release x64\System.Windows.Interactivity.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0BD09307_090C" Guid="00BB3E43-B08F-4C2A-9CC1-EE77BCA279B4" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_413ED76B_BD78" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GalaSoft.MvvmLight.dll" Source="..\..\CitadelGUI\bin\Release x64\GalaSoft.MvvmLight.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_C0446A41_EA33" Guid="E652D137-EFA1-4607-9A60-5EAFAEC48FA2" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_43859095_43AC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GalaSoft.MvvmLight.Extras.dll" Source="..\..\CitadelGUI\bin\Release x64\GalaSoft.MvvmLight.Extras.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_27C22F56_8940" Guid="B39458DF-A84B-484B-BBF4-98F0581C368B" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_A0573393_F21C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Practices.ServiceLocation.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Practices.ServiceLocation.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_E3CDA49B_B421" Guid="318EB0E1-E981-4E2C-928D-56870A4257C3" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_FBFEF817_EFF8" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GalaSoft.MvvmLight.Platform.dll" Source="..\..\CitadelGUI\bin\Release x64\GalaSoft.MvvmLight.Platform.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_D06C7E8B_9BC7" Guid="BD99398A-4F22-427E-AB89-52CD96C3DFAD" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0067B4F0_820A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GoProxyWrapper.dll" Source="..\..\CitadelGUI\bin\Release x64\GoProxyWrapper.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_F424AA6D_22F2" Guid="E4E50C6E-046E-41A4-9E31-535A930B8F7E" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E045A4F5_372C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="netstandard.dll" Source="C:\Windows\Microsoft.Net\assembly\GAC_MSIL\netstandard\v4.0_2.0.0.0__cc7b13ffcd2ddd51\netstandard.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_BAC2C81A_3ECA" Guid="F96D12AC-CAFC-47B8-B4BC-987CF051714F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_0B092F91_E781" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.ValueTuple.dll" Source="C:\Windows\Microsoft.Net\assembly\GAC_MSIL\System.ValueTuple\v4.0_4.0.0.0__cc7b13ffcd2ddd51\System.ValueTuple.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_169332B8_7850" Guid="771EFA10-C53F-4EE2-8B49-7F8F321DE7B2" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_C2DDF9EF_0F87" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.dll" Source="..\..\CitadelGUI\bin\Release x64\MahApps.Metro.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_1CD8B00C_0050" Guid="26811307-C7DF-4808-8EB2-165F390DAE64" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_BFB03F0B_1366" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ControlzEx.dll" Source="..\..\CitadelGUI\bin\Release x64\ControlzEx.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_8030BF6A_B070" Guid="B4937B94-467F-4CB1-BB27-BB326015B1A4" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2F5EC6F3_4434" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.dll" Source="..\..\CitadelGUI\bin\Release x64\MahApps.Metro.IconPacks.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0F0CCF5F_A44D" Guid="06CA6FDF-1B15-475B-9FF7-21C16319AA22" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_3093F408_15FA" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Caching.Abstractions.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.Caching.Abstractions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_93F866C0_9F77" Guid="C067BAC6-BE79-48A9-A180-2EE48E4F8C92" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_34F89934_A4D2" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.Caching.Memory.dll" Source="..\..\CitadelGUI\bin\Release x64\Microsoft.Extensions.Caching.Memory.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_0598AD1A_7B94" Guid="DA7B1195-24EF-4B97-81BE-100ACAAAF9A5" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_375A72BC_11C9" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Sentry.dll" Source="..\..\CitadelGUI\bin\Release x64\Sentry.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_66A6FD3F_97A5" Guid="EC15D54A-19A2-4A16-809C-2AA9752DF564" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_4C400A6A_0A96" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Sentry.PlatformAbstractions.dll" Source="..\..\CitadelGUI\bin\Release x64\Sentry.PlatformAbstractions.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_05E2A6E6_ED9A" Guid="7B64BFE4-3407-4125-ACA1-261866E78BF7" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1843891E_E88D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Sentry.Protocol.dll" Source="..\..\CitadelGUI\bin\Release x64\Sentry.Protocol.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_01F30FC4_3C24" Guid="3A472F0A-EE78-41B5-94FC-7FAB36AC908F" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_2D4FA790_BCD9" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.Core.Windows.dll" Source="..\..\CitadelGUI\bin\Release x64\Citadel.Core.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_4A7B40AC_F6D5" Guid="F1F69B7A-C855-4164-BB57-1F9E5CBADCDF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_E8AC86C3_12A8" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Citadel.Core.Windows.pdb" Source="..\..\CitadelGUI\bin\Release x64\Citadel.Core.Windows.pdb" KeyPath="yes" />
        </Component>
        <Component Id="comp_47257075_A0FB" Guid="B21A1DEC-F89E-4467-B409-F13535FF60DA" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D8306A74_2BCD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="InstallGuard.exe" Source="..\..\CitadelGUI\bin\Release x64\InstallGuard.exe" KeyPath="yes" />
        </Component>
        <Component Id="comp_EEC56972_6DBD" Guid="7BB44707-7B92-4AC8-A89A-DBD76E1A18DF" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_BE10F67F_DD62" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="InstallGuard.exe.config" Source="..\..\CitadelGUI\bin\Release x64\InstallGuard.exe.config" KeyPath="yes" />
        </Component>
        <Component Id="comp_E518DA81_1B6B" Guid="6B34D0FB-235A-4D7C-A21C-65F78C89C230" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_D5156E61_E31F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Unosquare.Labs.EmbedIO.dll" Source="..\..\CitadelGUI\bin\Release x64\Unosquare.Labs.EmbedIO.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_F51E2DAA_6755" Guid="9C63FC78-06E2-4F46-849B-C7D1647FF59C" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_9CA8FDC4_DA0B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Unosquare.Swan.Lite.dll" Source="..\..\CitadelGUI\bin\Release x64\Unosquare.Swan.Lite.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_5FBF3063_6114" Guid="2D24DD28-DC6C-4317-8012-A014CD3C8DB8" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_1A161782_DAFC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="DotNet.Glob.dll" Source="..\..\CitadelGUI\bin\Release x64\DotNet.Glob.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_D5A2370E_13CF" Guid="4C114D5C-0028-4ADD-BECC-BD938C33ABEE" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_AF894AF6_A640" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Filter.Native.Windows.dll" Source="..\..\CitadelGUI\bin\Release x64\Filter.Native.Windows.dll" KeyPath="yes" />
        </Component>
        <Component Id="comp_43A007AE_E31C" Guid="463D97D3-A5A4-490C-BCE0-F6CD10BE5950" Permanent="no" SharedDllRefCount="no" Transitive="no">
          <File Id="_3572440B_53BB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Handlebars.dll" Source="..\..\CitadelGUI\bin\Release x64\Handlebars.dll" KeyPath="yes" />
        </Component>
        <Directory Id="_BF1BBB44_638D_4B42_A3C1_B89E12A99E46" Name="x64">
          <Component Id="com_dir_BF1BBB44_638D_4B42_A3C1_B89E12A99E46" Guid="32E744EE-CD71-422E-9124-B9D2B5BEDFC2" Transitive="no">
            <CreateFolder Directory="_BF1BBB44_638D_4B42_A3C1_B89E12A99E46" />
            <RemoveFolder Id="_34874174_4D2F_43E5_8571_E73460E1D5B4" On="uninstall" />
          </Component>
          <Component Id="com_1E44E29B_5E1F_EE4C_A24B_C5372FBDE429" Guid="7AF90A9F-5675-4693-9E22-2505F3AE29FA" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_1E44E29B_5E1F_EE4C_A24B_C5372FBDE429" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WinDivert64.sys" Source="..\..\CitadelGUI\bin\Release x64\x64\WinDivert64.sys" KeyPath="yes" />
          </Component>
          <Component Id="com_5B643A28_522C_DA4F_AAB0_5643CDA65D3D" Guid="5C1040D7-8175-457D-BCD9-B728D594406B" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_5B643A28_522C_DA4F_AAB0_5643CDA65D3D" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="e_sqlite3.dll" Source="..\..\CitadelGUI\bin\Release x64\x64\e_sqlite3.dll" KeyPath="yes" />
          </Component>
          <Component Id="com_D51E1AB6_BE5B_BA4B_9256_EC83CDE3A455" Guid="52937FBF-1955-4DF6-B961-D50851181D23" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_D51E1AB6_BE5B_BA4B_9256_EC83CDE3A455" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="WinDivert.dll" Source="..\..\CitadelGUI\bin\Release x64\x64\WinDivert.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_DD2A8132_36AD" Guid="50C3CAD9-6EC6-48C0-BEE2-BC1359D4B01C" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_DBF4245A_E8B4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="proxy.dll" Source="..\..\CitadelGUI\bin\Release x64\x64\proxy.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_045EFB89_B4C6" Guid="E730CD33-3C4C-4410-B98C-C792AE135A87" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_850C7E93_ED2E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="concrt140.dll" Source="..\SetupProjects\External\x64\concrt140.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_388A30C4_7266" Guid="7565DFE8-46EF-4806-AD99-637030249851" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_C630E40A_EF6F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="msvcp140.dll" Source="..\SetupProjects\External\x64\msvcp140.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_6BA2DDAE_8890" Guid="B69022DF-52DD-4F0D-874E-02E25FDD1B87" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_5E4DCA14_51D5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="msvcp140_1.dll" Source="..\SetupProjects\External\x64\msvcp140_1.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_AF307BF5_9A49" Guid="C9E94AFE-2948-4649-8171-74BBBC11F300" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_0F8F7384_B3FD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="msvcp140_2.dll" Source="..\SetupProjects\External\x64\msvcp140_2.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_61060F80_7F8E" Guid="7CF71864-820B-434E-A6A6-7DE6528F0B8C" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_9D2A879D_08AF" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="vccorlib140.dll" Source="..\SetupProjects\External\x64\vccorlib140.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_7B88C946_1330" Guid="71129FA4-1D35-4E04-BB9A-A93C1968EABC" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_F6DB0CBD_5B82" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="vcruntime140.dll" Source="..\SetupProjects\External\x64\vcruntime140.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_D03EDAA7_862A" Name="de">
          <Component Id="comp_DE9A8449_785F" Guid="24FB46F2-79D3-412E-BC38-F9A96EA4EA67" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_2ED77426_F0BB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x64\de\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1444" Name="es">
          <Component Id="comp_0FD07455_476B" Guid="C2695375-66D1-48B5-8D74-967E95819B3A" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_0CAE5480_C079" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x64\es\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1443" Name="fr">
          <Component Id="comp_BBCE5A46_FEF2" Guid="6A2C2642-6679-4F30-9A38-29EB76A79173" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_C306F962_B873" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x64\fr\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1442" Name="it">
          <Component Id="comp_94819F55_C271" Guid="A469B670-0167-4C98-B8E9-8BE95EDD419E" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_3A6DFF47_BF86" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x64\it\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1441" Name="pl">
          <Component Id="comp_9DF3F4D5_21D5" Guid="ADF10A52-BB5F-4A63-9FA4-71B1BF49FE9B" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_A01D4F6C_D718" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x64\pl\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_2F21F039_1440" Name="ru">
          <Component Id="comp_C6689CC5_75C1" Guid="9C146E33-B43C-42A2-82F5-C56ACF226EB5" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_903784F9_9BA4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x64\ru\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="dir_AC64573A_8635" Name="zh-CN">
          <Component Id="comp_CB56750F_37F6" Guid="E5FF43EC-6B32-4FD0-B4EC-502EC9043112" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_61BF38B2_EBBA" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Win32.TaskScheduler.resources.dll" Source="..\..\CitadelGUI\bin\Release x64\zh-CN\Microsoft.Win32.TaskScheduler.resources.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <!-- The reference to the component group of the 'InstallGuard' project output. -->
    <!--<ComponentGroupRef Id="InstallGuard.Binaries" />-->
    <InstallExecuteSequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </InstallUISequence>
    <AdminExecuteSequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </AdminExecuteSequence>
    <AdminUISequence>
      <Custom Action="DIRCA_NEWRETARGETABLEPROPERTY1" Before="CostInitialize"><![CDATA[NEWRETARGETABLEPROPERTY1 = ""]]></Custom>
    </AdminUISequence>
  </Module>
</Wix>