/*
* Copyright © 2018 Cloudveil Technology Inc.  
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

// This is a sample of the CompileConstants file that you must define with your own set of constants.
// Use this file for build-specific constants that are too sensitive to store on github.
namespace CitadelService
{
    class CompileSecrets
    {
        public const string RavenDsn = "https://204986834929735098925463049:12093858204ece4578b324879508@sentry.your-domain.com/400";
    }
}
